*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*--------------------------------------*/
.topnav {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  align-items: center;
  min-height: 5vh;
  font-family: 'Open Sans', sans-serif;
}

.hotline { 
  margin-left: 50px;
}


.hotline a {
  color: white;
  text-decoration: none;
  text-align: center;
  letter-spacing: 2px;
  font-size: 12px;
}

.navsign {
  text-align: center;
  display: flex;
}

.navsign ul {
  margin-right: 50px;
  display: inline-flex;
}

.navsign li {
  list-style: none;
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}

.navsign a {
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 12px;
}
.topnav a:hover{
  color: #f0a500;
}

/*--------------------------------------*/
.secondnav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f0a500;
}
.secondnav::after{
  content: '';
  clear: both;
  display: table;
}

.logo {
  float: left;
  padding-left: 50px;
}

.secondnav ul{
  float: right;
  list-style: none;
  margin-right: 50px;
  position: relative;
}
.secondnav ul li{
  float: left;
  display: inline-block;
  background: #f0a500;
  margin: 0 5px;
}

.secondnav ul li a{
  color: black;
  text-decoration: none;
  line-height: 50px;
  font-size: 15px;
  padding: 8px 15px;
}

.secondnav ul li a:hover{
  border-radius: 5px;
  color: white;
}

.secondnav ul ul{
  position: absolute;
  top: 50px;
  border-top: 3px solid #cf7500;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}

.secondnav ul li:hover > ul{
  opacity: 1;
  visibility: visible;
}

.secondnav ul ul li{
  position: relative;
  margin: 0px;
  width: 150px;
  float: none;
  display: list-item;
  border-bottom: 1px solid #cf7500;
}



/*--------------------------------------*/
.center-fit {
  max-width: 100%;
  max-height: auto;
  margin: auto;
}

/*--------------------------------------*/
.introduce {
  min-height: 350px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Open Sans', sans-serif;
}

.latte {
  max-width: 30%;
  max-height: auto;
  transform: rotate(10deg);
  margin-left: 40px;
}

.founder {
  min-height: 350px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Open Sans', sans-serif;
}

.photofounder {
  max-width: 20%;
  max-height: auto;
  transform: rotate(0deg);
  margin-left: 40px;
}

.information {
  min-height: 150px;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


